<h1>Tareas</h1>

<!-- Añade aquí un formulario para crear una nueva tarea si lo deseas -->


<h2>Listado de tareas</h2>
<ul>
  {{#each tasks}}
    <li>
      <strong>{{nombre_tablero}}</strong> - {{circuito}} - {{lugar}} - {{fecha}} - {{descripcion}}-{{username}}
    </li>
  {{/each}}
</ul>

<a href="/logout">Cerrar sesión</a>
